{% load static %}
<html>
    <head>
        <title>Apiwana blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}"> 
       
               
    </head>
    <body>
        
           
        <div class="page-header">  
           <div  <a href="#" data-toggle="tooltip" title="จัดทำโดย นางสาวอภิวนา สุวรรณภูมิ 5910110529">
           <a  class="top-menu"><span class="glyphicon glyphicon-info-sign"></span></a></div>
           <div <a href="#" data-toggle="tooltip" title="New post"></a>
           <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span>New post</a> </div>
         
           <p><a href="/admin" data-toggle="tooltip" title="Login" class="top-menu"><span class="glyphicon glyphicon-user"></span> Login </a></p>
            
           <h1><span  class="glyphicon glyphicon-ice-lolly-tasted" </span> <a data-toggle="tooltip" title="Apiwana Blog" href="/">Apiwana Blog</a></h1>
        </div>

        <div class="jumbotron text-center">
                <h1>Welcome to Apiwana Blog</h1>
                <p>This is my diary.</p> 
        </div>
        
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            
        <form>
                <div class="form-group">
                  <label for="comment">Comment:</label>
                  <textarea class="form-control" rows="2" id="comment"></textarea>
                  <a href="#">  <button type="submit" class="save btn btn-default"> <span class="glyphicon glyphicon-floppy-save"></span>Save</button> </a>
                </div>
        </form>
        
        </div>
        
        

    </body>
</html>